{% extends "base.html" %}
{% load static %}
{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type='submit'>Enviar</button>
    </form>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Identificacion</th>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Identificacion</th>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                {% if datos %}
                    {% for dato in datos %}
                        <tr>
                            <td>{{ dato.tipo_idenfiticacion }} {{ dato.numero_identificacion }}</td>
                            <td>{{ dato.nombre }} {{ dato.apellido }}</td>
                            <td>{{ dato.sexo }}</td>
                            <td>{{ dato.fecha_nacimiento }}</td>
                            <td>{{ dato.telefono }}</td>
                            <td>{{ dato.email }}</td>
                            <td>
                                <div>
                                    <a class="btn btn-info pull-right" color="white"
                                       href="{% url 'editar' dato|str %}">
                                        Check It Out
                                    </a>
                                    <button type="button" class="inputButton" value="1">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
</html>
